.contentsArea {
  color: #42b983;
  margin-top: 5px;
  padding: 0px;
  .containerHeader {
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #555;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px 4px 0px 0px;
  }
  .container {
    border-width: 1px;
    border-color: #eee;
    border-style: none solid solid solid;
    border-radius: 0px 0px 4px 4px;
    font-size: 12px;
    color: #555555;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header {
    display: flex;
    background-color: #ffffff;
    border-style: none none dashed none;
    border-color: #eee;
    border-width: 1px;
  }
  .record {
    display: flex;
    border-style: none none dashed none;
    border-color: #eee;
    border-width: 1px;
    transition: background-color 120ms ease-out;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .date {
    width: 130px;
    word-wrap: break-word;
    padding-left:20px;
  }
  .paramBox {
    display: flex;
    flex-direction: column;
  }
  .header .param {
    width: 260px;
    word-wrap: break-word;
    text-align: center;
  }
  .record .param {
    width: 220px;
    word-wrap: break-word;
    text-align: left;
    padding: 0px 20px;
  }
  .user {
    width: 92px;
    word-wrap: break-word;
  }
}
