.contentsArea
  .containerHeader 検索結果
  .container
    .header
      .date 日時
      .param 操作履歴
      .user ユーザー
    .record(v-for="record in resultData")
      .date {{ getDate(record._source['@timestamp']) }}
      .paramBox
        //- .param {{ getMonthlyBudget(record) }}
        //- .param {{ getDailyBudget(record) }}
      .user {{ getUserName(record._source.fields.user_id) }}
