.contentsArea
  .containerHeader 検索結果
  .container
    .header
      .date 日時
      .param 操作
      .user ユーザー
    .record(v-for="record in resultData")
      .date {{ getDate(record._source['@timestamp']) }}
      .param {{ getParams(record) }}
      .user {{ record._source.fields.user_id }}
