.searchArea
  .containerHeader 検索条件指定
  .container
    div
      .comment 検索したい操作を選択してください
      .box
        .select-label {{ actionLabel }}
        .btn.select-btn(v-bind:class="{ selected: selectBtnViewFlag }", @click="clickSelect()") 選択
    div(v-if="action === 'updateAccountBudgets'")
      .comment 広告主IDを入力してください
      .box
        input(class="advertiserId", type="text", v-model="advertiserId")
    div(v-if="action === 'statusChangeCampaign'")
      .comment キャンペーンIDを入力してください
      .box
        input(class="campaignId", type="text", v-model="campaignId")
    div(v-if="action === 'statusChangeAdGroup'")
      .comment 広告グループIDを入力してください
      .box
        input(class="adGroupId", type="text", v-model="adGroupId")
    .buttonArea
      .btn.run(@click="search()")
        .searchBtnLabel 検索
        svg(version="1.1", id="glass", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 512 512", style="width: 32px; height: 32px; opacity: 1;", xml:space="preserve")
          g
            path.icon(d="M332.998,291.918c52.2-71.895,45.941-173.338-18.834-238.123c-71.736-71.728-188.468-71.728-260.195,0\
              c-71.746,71.745-71.746,188.458,0,260.204c64.775,64.775,166.218,71.034,238.104,18.844l14.222,14.203l40.916-40.916\
              L332.998,291.918z M278.488,278.333c-52.144,52.134-136.699,52.144-188.852,0c-52.152-52.153-52.152-136.717,0-188.861\
              c52.154-52.144,136.708-52.144,188.852,0C330.64,141.616,330.64,226.18,278.488,278.333z", style="fill: rgb(75, 75, 75);")
            path.icon(d="M109.303,119.216c-27.078,34.788-29.324,82.646-6.756,119.614c2.142,3.489,6.709,4.603,10.208,2.46\
              c3.49-2.142,4.594-6.709,2.462-10.198v0.008c-19.387-31.7-17.45-72.962,5.782-102.771c2.526-3.228,1.946-7.898-1.292-10.405\
              C116.48,115.399,111.811,115.979,109.303,119.216z", style="fill: rgb(75, 75, 75);")
            path.icon(d="M501.499,438.591L363.341,315.178l-47.98,47.98l123.403,138.168c12.548,16.234,35.144,13.848,55.447-6.456\
              C514.505,474.576,517.743,451.138,501.499,438.591z", style="fill: rgb(75, 75, 75);")

    .select-menu-modal(v-show="selectBtnViewFlag")
      .select-menu-item(v-for="action in actionList", @click="clickAction(action.code)")

        svg(version="1.1", id="pointer", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="512px", height="512px", viewBox="0 0 512 512", style="width: 16px; height: 16px; opacity: 1;", xml:space="preserve")
          g
            path.icon(d="M87.656,215.156H18.922C8.469,215.156,0,223.625,0,234.094v198.094c0,10.453,8.469,18.922,18.922,18.922\
              h68.734c10.469,0,18.938-8.469,18.938-18.922V234.094C106.594,223.625,98.125,215.156,87.656,215.156z M64,421.063\
              c-9.688,0-17.531-7.844-17.531-17.531C46.469,393.859,54.313,386,64,386s17.531,7.859,17.531,17.531\
              C81.531,413.219,73.688,421.063,64,421.063z", style="fill: rgb(75, 75, 75);")
            path.icon(d="M480.078,183.594H292.063c-2.438,0-4.766,0.328-7.031,0.828h-2.703c7.672-15.078,14.313-35.016,12.047-58.844\
              c-2.125-22.453-21.047-62.109-50.219-64.453c-22.469-1.797-26.813,6.625-26.813,29.172c0,0,0.25,21.844,0.25,35.844\
              c0,25.078-8.359,37.828-37.844,58.984c-38.891,27.875-45.641,42.281-45.641,42.281v150.25c0,30.047,20.641,54.094,59.031,54.094\
              h51.469h88.656c19.344,0,45.516-9.344,45.516-34.984c0-9.609-3.875-18.297-10.141-24.625c16.922-2.453,29.969-16.891,29.969-34.5\
              c0-10.938-5.109-20.578-12.984-27c12.438-5.375,21.141-17.703,21.141-32.109c0-13.641-7.859-25.328-19.25-31.094h92.563\
              c17.625,0,31.922-14.281,31.922-31.922C512,197.891,497.703,183.594,480.078,183.594z", style="fill: rgb(75, 75, 75);")
        | {{ action.label }}
